@import "tailwindcss";

@theme {
  --color-red: #ff1f1f;
  --color-crimson: #ff4654;
  --color-dark: #272727;
  --color-darker: #1d1d1d;
  --color-black: #070e18;
  --color-blue: #404dff80;
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow-selected-red: 0px 2px 6px 0px rgba(255, 31, 31);
}

body {
  @apply antialiased;
}
