@import "tailwindcss";

@theme {
  --color-red: #ff1f1f;
  --color-crimson: #ff4654;
  --color-dark: #272727;
  --color-darker: #1d1d1d;
  --color-black: #070e18;
  --color-blue: #404dff80;
}

body {
  @apply antialiased;
}
